@media only screen and (max-width: 1199px) {
    .check-availability {
        padding: 2rem 0;

        div {
            flex-direction: column;
            align-items: center;
        }
    }

    #availability-form-head {
        margin-bottom: 1rem;
    }
}

@media only screen and (max-width: 991px) {
    body {
        grid-template-columns: 1fr;
        grid-template-areas: "header" "main" "footer";
    }

    /* Cookie pop-up */
    #cookie-banner {
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        border: 1px solid darkgray;
        border-radius: 10px;
        width: 300px;
        height: 300px;
        padding: 1rem;
        margin: auto;
        text-align: center;
    }

    #cookie-close {
        width: 25px;
        height: auto;
    }

    /* Header */
    header {
        height: auto;

        nav {
            width: 95%;
        }
    }

    .navbar-nav li {
        flex-basis: initial;
    }

    /* Main */
    main {
        top: 86px;
    }

    .box-list {
        margin: 1rem 0;
    }

    .box-item {
        width: 100%;
    }

    #home .carousel-item {
        height: 225px;
    }

    #availability-form {
        flex-direction: column;
        align-items: center;

        .label-input {
            width: 100% !important;
            margin: 0.5rem !important;
        }

        button {
            margin: 1rem 0 !important;
        }
    }

    #testimonials .content,
    #amenities .content,
    #contact .content,
    #testimonials .background,
    #amenities .background {
        padding: 2rem 0;
    }

    #testimonials {
        padding: 0;

        .content>h1 {
            margin-bottom: 2rem;
        }

        .carousel-item {
            height: auto;
        }

        .carousel-indicators {
            position: static !important;
        }
    }

    #testimonial-slideshow {
        margin-top: 2rem;
    }

    .testimonial-slide h1 {
        font-size: 3rem !important;
    }

    /* Footer */
    footer {
        padding: 1rem 0;
        top: 86px;
    }

    .footer-container {
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;

        h5 {
            margin: 0.25rem 0 !important;
        }
    }

    /* Booking */
    #booking-main {
        grid-template: repeat(3, auto) / 1fr;

        .sort {
            grid-area: 1 / 1 / span 1 / span 1;
        }

        .rooms {
            grid-area: 2 / 1 / span 1 / span 1;
        }

        .cart {
            grid-area: 3 / 1 / span 1 / span 1;
            border-top: 1px solid rgba(0, 0, 0, 0.5);

            .content {
                align-items: flex-start !important;
            }
        }
    }

    .checkout-mobile-links {
        display: block;
    }

    /* Blog */
    #blog-posts {
        grid-template: repeat(2, auto) / 1fr;

        .posts {
            grid-area: 1 / 1 / span 1 / span 1;
        }

        .categories {
            grid-area: 2 / 1 / span 1 / span 1;

            &.content {
                padding: 0 2rem;
            }
        }

        .navigation ul {
            padding-bottom: 1.5rem;
            border-bottom: 1px dashed rgba(0, 0, 0, 0.5);
        }
    }
}

@media only screen and (max-width: 575px) {
    .google-map {
        height: 300px;
    }

    /* Booking */
    #booking-main .sort {
        flex-direction: column;
        align-items: center;

        label {
            margin: 0.5rem 0;
        }
    }

    .room-card-body {
        display: grid;
        grid-template: repeat(3, auto) / repeat(2, 1fr);
        height: auto;
    }

    .room-img {
        grid-area: 1 / 1 / span 1 / span 2;
        height: 150px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.5);
    }

    .room-features {
        grid-area: 2 / 1 / span 1 / span 1;
    }

    .room-capacity {
        grid-area: 2 / 2 / span 1 / span 1;
    }

    .room-book {
        grid-area: 3 / 1 / span 1 / span 2;
    }

    .room-cart-header {
        flex-direction: column;

        .info-line:last-of-type {
            text-align: left;
            margin-top: 1rem;
        }
    }

    #checkout-form {
        fieldset {
            &#guest-details {
                grid-template: auto repeat(12, 1fr) / 1fr;
            }

            &#guest-details .form-legend {
                grid-area: 1 / 1 / span 1 / span 1;
            }

            &#payment-method {
                flex-direction: column;
                justify-content: flex-start;
            }
        }

        .label-input {
            &#form-title {
                grid-area: 2 / 1 / span 1 / span 1;
            }

            &#form-first {
                grid-area: 3 / 1 / span 1 / span 1;
            }

            &#form-last {
                grid-area: 4 / 1 / span 1 / span 1;
            }

            &#form-company {
                grid-area: 5 / 1 / span 1 / span 1;
            }

            &#form-address-1 {
                grid-area: 6 / 1 / span 1 / span 1;
            }

            &#form-address-2 {
                grid-area: 7 / 1 / span 1 / span 1;
            }

            &#form-city {
                grid-area: 8 / 1 / span 1 / span 1;
            }

            &#form-county {
                grid-area: 9 / 1 / span 1 / span 1;
            }

            &#form-postcode {
                grid-area: 10 / 1 / span 1 / span 1;
            }

            &#form-country {
                grid-area: 11 / 1 / span 1 / span 1;
            }

            &#form-phone {
                grid-area: 12 / 1 / span 1 / span 1;
            }

            &#form-email {
                grid-area: 13 / 1 / span 1 / span 1;
            }
        }
    }
}