@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Zilla+Slab:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");
@import "components/header";
@import "components/main";
@import "components/footer";


/* GENERAL */

* {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    scroll-behavior: smooth;
}

html {
    font-size: 16px;
}

body {
    background-color: silver;
    font-family: "IBM Plex Sans", "Bahnschrift Light", "Helvetica", sans-serif;
    transition: transform 0.25s ease-in-out;

    &.nav-open {
        transform: translateX(-310px);
        transition: transform 0.25s ease-in-out;

        header nav button {
            opacity: 0.75;

            svg {
                path {
                    fill: steelblue;
                }
            }
        }
    }
}

#root {
    display: grid;
    min-width: 100%;
    min-height: 100%;
    margin: 0 auto;
    padding: 0;
    overflow-x: hidden;
    grid-template-columns: 1fr;
    grid-template-areas: "header" "main" "footer";
}

@media only screen and (min-width: 992px) {
    #root {
        grid-template: repeat(3, auto) / 1fr 1200px 1fr;
        grid-template-areas: "header header header" ". main ." "footer footer footer";
    }
}

.lowercase {
    text-transform: lowercase !important;
}

.uppercase {
    text-transform: uppercase !important;
}

.capitalize {
    text-transform: capitalize !important;
}

.text-transform-reset {
    text-transform: none !important;
}

.normal {
    font-weight: normal !important;
}

.light {
    font-weight: 300 !important;
}

.regular {
    font-weight: 400 !important;
}

.medium {
    font-weight: 500 !important;
}

.semi-bold {
    font-weight: 600 !important;
}

.bold,
strong,
b {
    font-weight: 700 !important;
}

.italic,
em,
i {
    font-style: italic !important;
}

.center {
    text-align: center !important;
}

.visible {
    display: block !important;
}

.hidden {
    display: none !important;
}

.font-head-1 {
    font-family: "Lora", "Georgia", "Times New Roman", serif !important;
}

.font-head-2 {
    font-family: "Zilla Slab", "Georgia", "Times New Roman", serif !important;
}

.font-body {
    font-family: "IBM Plex Sans", "Bahnschrift Light", "Helvetica", sans-serif !important;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.5rem;
}

h3 {
    font-size: 1.125rem;
}

h4 {
    font-size: 1rem;
}

h5 {
    font-size: 0.875rem;
}

h6 {
    font-size: 0.6875rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Lora", "Georgia", "Times New Roman", serif;
}

p {
    font-size: 1rem;
}

ul {
    list-style-type: disc;
}

li {
    margin: 0.125rem 0;
}

code {
    color: inherit;
}

a {
    color: steelblue;
    text-decoration: none;
    transition: color 0.15s ease-in-out;

    &:hover,
    &:focus {
        color: darkseagreen;
        text-decoration: none;
        transition: color 0.15s ease-in-out;
    }
}

button {
    background-color: silver;
    border: none;
    border-radius: 5px;
    width: auto;
    padding: 1rem;
    margin: auto 1rem;
    transition: background-color 0.15s ease-in-out;

    &:hover,
    &:focus {
        cursor: pointer;
        background-color: powderblue;
        transition: background-color 0.15s ease-in-out;
    }
}

.text-shadow {
    text-shadow: 4px 4px 8px black !important;
}