/* Authentication page */
#auth-top {
    grid-area: top;
    background: black url("../../img/slideshow/slide-1.JPG") no-repeat scroll center;
    background-size: cover;
    color: white;

    .background {
        height: 400px;
    }
}


#auth-main {
    grid-area: about;
    display: block;
}


/* Forms */
form {
    width: 100%;

    legend {
        display: block;
        width: 100%;
    }

    fieldset {
        width: 100%;

        button {
            margin: unset !important;
        }

        &#form-end {
            display: flex;
            gap: 1rem;
        }
    }

    .label-input {
        label {
            margin-bottom: 0.25rem;
        }

        input,
        select,
        textarea {
            width: 100%;
            padding: 0.25rem 0.5rem;
        }
    }

    &#login {
        min-height: 300px;

        legend {
            margin: unset;
        }
        
        .label-input {
            margin: 1rem 0;
            width: 50%;
        }
    }

    &#register {
        legend {
            margin-bottom: 1rem;
        }

        #guest-details {
            display: grid;
            width: 100%;
            grid-template: repeat(14, 1fr) / 1fr;
            grid-gap: 1rem;
            margin-bottom: 1rem;

            .label-input {
                margin: unset;
            }

            #form-title {
                grid-area: 1 / 1 / span 1 / span 1;
            }

            #form-first {
                grid-area: 2 / 1 / span 1 / span 1;
            }

            #form-last {
                grid-area: 3 / 1 / span 1 / span 1;
            }

            #form-company {
                grid-area: 4 / 1 / span 1 / span 1;
            }

            #form-address-1 {
                grid-area: 5 / 1 / span 1 / span 1;
            }

            #form-address-2 {
                grid-area: 6 / 1 / span 1 / span 1;
            }

            #form-city {
                grid-area: 7 / 1 / span 1 / span 1;
            }

            #form-county {
                grid-area: 8 / 1 / span 1 / span 1;
            }

            #form-postcode {
                grid-area: 9 / 1 / span 1 / span 1;
            }

            #form-country {
                grid-area: 10 / 1 / span 1 / span 1;
            }

            #form-phone {
                grid-area: 11 / 1 / span 1 / span 1;
            }

            #form-email {
                grid-area: 12 / 1 / span 1 / span 1;
            }

            #form-password {
                grid-area: 13 / 1 / span 1 / span 1;
            }

            #form-confirm-password {
                grid-area: 14 / 1 / span 1 / span 1;
            }
        }
    }
}

@media only screen and (min-width: 768px) {
    form {
        &#register {
            #guest-details {
                grid-template: repeat(7, 1fr) / repeat(6, 1fr);

                .label-input {
                    width: 100%;
                }

                #form-title {
                    grid-area: 1 / 1 / span 1 / span 2;
                }

                #form-first {
                    grid-area: 1 / 3 / span 1 / span 2;
                }

                #form-last {
                    grid-area: 1 / 5 / span 1 / span 2;
                }

                #form-company {
                    grid-area: 2 / 1 / span 1 / span 6;
                }

                #form-address-1 {
                    grid-area: 3 / 1 / span 1 / span 3;
                }

                #form-address-2 {
                    grid-area: 3 / 4 / span 1 / span 3;
                }

                #form-city {
                    grid-area: 4 / 1 / span 1 / span 2;
                }

                #form-county {
                    grid-area: 4 / 3 / span 1 / span 2;
                }

                #form-postcode {
                    grid-area: 4 / 5 / span 1 / span 2;
                }

                #form-country {
                    grid-area: 5 / 1 / span 1 / span 6;
                }

                #form-phone {
                    grid-area: 6 / 1 / span 1 / span 3;
                }

                #form-email {
                    grid-area: 6 / 4 / span 1 / span 3;
                }

                #form-password {
                    grid-area: 7 / 1 / span 1 / span 3;
                }

                #form-confirm-password {
                    grid-area: 7 / 4 / span 1 / span 3;
                }
            }
        }
    }
}

@media only screen and (min-width: 992px) {
    form {
        &#register {
            #guest-details {
                width: 50%;
            }
        }
    }
}